@font-face {
    font-family: "printbold";
    src: url("images/printbold.ttf");
}

h1 {
	text-indent: 19.4%;
	font-family: printbold;
	font-size: 60px;
	color: rgb(0,122,3);
	font-style: bold;
	background: white;
	border: 1px solid black;
	margin-left: 11.2%;
	padding: 5px 0 5px 0;
	position: relative;
}

img {
	margin: 1% 3% 1% 1%;
}

p.text {
	font-size: 24px;
}

p.gga {
	font-size: 24px;
	margin-left: 35%;
    word-wrap: break-word;
	margin: 0 10% 0 35%;
	text-align: justify;
	background: radial-gradient(white, white, gray);
	padding: 8%;
	border-radius: 100%;
}

p.heading {
	font-size: 36px;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.trip {
	border-radius: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
	bottom: -5px;
    left: 80%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: printbold;
	background-image: url("images/green_gobbler.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #52634d;
}

li a {
	color: white;
	font-size: 20px;
    display: block;
    padding: 14px 18px;
    text-decoration: none;
	float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(0,122,3);
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active1 {
    padding: 5px;
    background: #1abc9c;
    color: white
}

.text {
	margin: 0 10% 0 10%;
	text-align: justify;
	background-color: white;
	padding: 1%;
}